.nissanAccount__header{
    padding:7px 20px;
    padding-top: 15px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color : #000;
    color: #fff;
}
.nissanAccount__links{
    display:flex;
    gap:20px;
    align-items: center;
    
}

.nissanAccount__logo>a>img{
    object-fit: contain;
    width: 90px;
    filter:brightness(0) invert(1);
}

.nissanAccount__links> a{
    color:#fff;
    text-decoration: none;
    font-weight:500;
    font-size: 15px;
    z-index:0;
    
}

.nissanAccount__menu{
    z-index: 2;
}

.nissanAccount__menu >.MuiSvgIcon-root{
    cursor:pointer;
}

.nissanAccount__close{
    color:#000
}
.nissanAccount__info{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 60px 140px;
    padding-bottom: 10px;
}

.nissanAccount__person >h4{
font-weight: 500;
text-transform:capitalize;
font-size:x-large;
margin-bottom: 60px;
}

.nissanAccount__infoRight{
    display:flex;
    gap:20px;
}

.nissanAccount__infoRight >a{
    text-decoration: none;
    color:#393c41;
    font-size: medium;
    transition: all 0.2s;
    text-transform:capitalize;
}
.nissanAccount__infoRight >a:hover{
color:#000;
font-weight: 500;
}

.nissanAccount__car{
    display:grid;
    place-items: center;
    gap: 30px;
    padding:40px;
}

.nissanAccount__form{
    display:flex;
    flex-direction: column;
    
    }

.nissanAccount__user{
    display:flex;
    flex-direction: column;
    gap: 20px;
    max-width: auto ;
    margin-left: auto;
    margin-right: auto;
}

.nissanAccount__user>h1{
    margin-bottom: 30px;
    border-bottom: 1px solid #f4f4f4;
    outline: none;
    color:#393c41;
    font-weight:500;
    font-size: 14px;
    max-width: 500px;

}
.nissanAccount__actions{
    display:flex;
    flex-direction: row;
    gap:50px;
    align-items: center;
}
.nissanAccount__login{
    background-color: #3e6ae1;
    border:none;
    width:230px;
    padding:12px 40px;
    border-radius:30px;
    color:#fff;
    /* text-transform: uppercase; */
    font-weight: bold;
    cursor:pointer;
    outline: none;
    margin-bottom :30px;
    transition: all 0.4s;
    align-items:center;
    
}

.nissanAccount__login:hover{
    background-color: #3457b1;
}

.nissanAccount__logout{
    background-color :transparent;
    border: 1px solid #000;
    width:230px;
    padding:12px 40px;
    border-radius: 30px;
    /* text-transform: uppercase;  */
    font-weight: 600px;
    margin-bottom :30px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    outline:none;
    
}

.nissanAccount__logout:hover{
    background-color :#171a20;
    color:#fff;
}


@media (max-width:1100px){
    .nissanAccount__links >a{
        display:none;
    }
    .nissanAccount__person >h4{
        font-weight: 500;
        text-transform:capitalize;
        font-size:large;
        }
        .nissanAccount__login{
            width:200px;
            padding:10px 36px;
            font-size: 10px;
        }
        .nissanAccount__logout{
            width:200px;
            padding:10px 36px;
            font-size: 10px;
        }

    }
    
@media (max-width:650px){
    .nissanAccount__links >a{
        display:none;
    }
    .nissanAccount__person >h4{
        font-weight: 500;
        text-transform:capitalize;
        font-size:small;
        }
        .nissanAccount__infoRight >a{
            font-size: x-small;

        } .nissanAccount__login{
            width:125px;
            padding:8px 30px;
            font-size: 8px;
        }
        .nissanAccount__logout{
            width:125px;
            padding:8px 30px;
            font-size: 8px;
        }
    }
    
    
    
    @media (max-width:480px){
        .nissanAccount__person >h4{
            font-size:medium;
            margin-left:-100px
    }
    .nissanAccount__logo>a>img{
        width:75px;
    }
    .nissanAccount__login{
        width:80px;
        padding:6px 24px;
    }
    .nissanAccount__logout{
        width:80px;
        padding:6px 24px;
    }
    .nissanAccount__infoRight{
    margin-right: -80px;
    }
}